*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/* Esto es lo que esta arriba del menu de opciones */
.header {
	background : #566573;
	padding : 0px;
	font-size: 50px;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	box-shadow: 5px 5px 30px #83898F;
	color: white;
}

.img{
	margin: 0px 10px;
	width:auto; 
	max-height:350px;
	display: inline-block;
}



/*Estilos de la seccion de comentarios*/
.recuadro{
	background: #E5EDF5;
	width: 100%;
	/*height: 150px;*/
	border: 1px solid black;
	margin: auto;
}


/*Titulos*/
.titulo{
	background: #dff9fb;
	width: 700px;
	height: auto;
	border: 1px solid black;
	margin: auto;
	padding: 7px;
	font-size: 24px;
	text-align: center;
	display: block;
}






