*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/* Esto es lo que esta arriba del menu de opciones */
.header {
	background : #566573;
	padding : 0px;
	font-size: 50px;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	box-shadow: 5px 5px 30px #83898F;
	color: white;
}

.img{
	margin: 0px 10px;
	width:auto; 
	max-height:150px;
	display: inline-block;
}

/*Etilos del menu de opciones*/
.menu{
	background: white;
	padding: 5px 15px;
	text-align: center;
}

.menu li{
	list-style: none;
	padding: 2px;
	font: bold 14px verdana;
	display: inline-block;
}

.menu li a{
	color: black; 
	text-decoration: none;
}

.menu a:hover{
	color: #81ecec;
}

#PM{
	list-style: none;
	padding: 2px;
	font: bold 14px verdana;
	display: inline-block;
	color: #636e72;
}

/*Texto del inicio*/
.texto-inicio{
	width: 60%;
	background: #dff9fb;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	font-size: 20px;
}

/*Estilos del formulario para publicar una mascota*/
.form-publicacion{
	width: 400px;
	background: #dff9fb;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	border-radius: 4px;
	box-shadow: 7px 13px 37px #dff9fb;
}

.controls{
	width: 100%;
	background: white;
	padding:10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid: #1f53c5;
	font-size: 14px;
}

.file{
	width: 100%;
	padding:10px;
	border-radius: 4px;
	margin-bottom: 16px;
	font-size: 14px;
	color: black;
}

.form-publicacion h4{
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	color: black;
}

.form-publicacion p{
	height: 40px;
	text-align: center;
	font-size: 16px;
}

.form-publicacion a{
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin: 3px;
}


.form-publicacion .botons{
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}

.form-publicacion a:hover{
	color: #7ed6df;
	text-decoration: underline;
}

.texto{
	color: #c0392b;
	padding: 12px;
	font-size: 14px;
}

.form-publicacion h3{
	color: black;
	text-decoration: none;
	font-size: 18px;
	margin: 3px;
	text-align: left;
}

/*Estilos de la seccion de buscar mascotas*/
.filtrar{
	text-align: center;
	padding: 10px;
}

.radiob{
	margin: 0px 10px;
}

.publicacion{
	background: #dff9fb;
	width: 700px;
	height: 150px;
	margin: auto;
	border: 1px solid #636e72;
	padding: 20px;
	display: block;
}

.foto{
	width: 80px;
	height: 110px;
	border: 1px solid #636e72;
	float: left;
}

.info{
	width: 570px;
	height: 110px;
	border: 1px solid #636e72;
	float: left;
	padding: 15px;
}

.info .botons{
	width: 20%;
	height: 22px;
	background: #7ed6df;
	border: none;
	margin: 10px 80%;
	color: white;
	font-size: 16px;
	padding: 3px;
}

.info .botons:hover{
	width: 20%;
	height: 22px;
	background: #7ed6df;
	border: 1px solid white;
	margin: 10px 80%;
	color: white;
	font-size: 16px;
	padding: 3px;
}

/*Estilos de la seccion de Mis Publicaciones*/
.mipublicacion{
	background: #dff9fb;
	width: 700px;
	height: 300px;
	margin: auto;
	border: 1px solid #636e72;
	padding: 20px;
	display: block;
}

.infomipub{
	width: 570px;
	height: 230px;
	border: none;
	float: left;
	padding: 15px;
}



.inf{
	width: auto;
	height: 40px;
	display: block;
	text-decoration: none;
}

.inf .botons{
	width: 20%;
	height: 22px;
	background: #7ed6df;
	border: none;
	margin: 10px 80%;
	color: white;
	font-size: 16px;
	padding: 3px;
	text-decoration: none;
}

.inf .botons:hover{
	width: 20%;
	height: 22px;
	background: #7ed6df;
	border: 1px solid white;
	margin: 10px 80%;
	color: white;
	font-size: 16px;
	padding: 3px;
	text-decoration: none;
}

/*Estilos de la ventana donde suben fotos de las mascotas adoptadas*/
.subir-foto{
	background: #dff9fb;
	width: auto;
	padding: 10px;
	border: 1px solid black;
	margin: 50px;
	font-size: 18px;
}

.subir-foto .botons{
	width: 20%;
	height: 22px;
	background: #7ed6df;
	border: none;
	margin: 0px 80%;
	color: white;
	font-size: 16px;
}

.subir-foto .botons:hover{
	width: 20%;
	height: 22px;
	background: #7ed6df;
	border: 1px solid white;
	margin: 0px 80%;
	color: white;
	font-size: 16px;
	
}

.formato-foto{
	margin: 20px;
	max-width:480px; 
	height:auto;
	display: inline-block;
	box-shadow: 7px 13px 37px #000;
}

/*Estilos de la seccion de comentarios*/
.recuadro{
	background: #dff9fb;
	width: 700px;
	height: 150px;
	border: 1px solid black;
	margin: auto;
	padding: 15px;
}

.recuadro a{
	font-family: verdana;
	font-size: 14px;
	
}

.cuadro-comentar{
	width: 100%;
	height: 70px;
	display: block;
	padding: 5px;
	margin: 5px;
}

.c-comentario{
	background: #dff9fb;
	width: 700px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
	display: block;
}

/*Titulos*/
.titulo{
	background: #dff9fb;
	width: 700px;
	height: auto;
	border: 1px solid black;
	margin: auto;
	padding: 7px;
	font-size: 24px;
	text-align: center;
	display: block;
}


/*para los botones de eliminar en mascotas adoptadas*/
.elim{
	width: auto;
	height: auto;
	padding: 3px;
	display: block;
	text-decoration: none;
	float: right;
	color: white;
	background: #7ed6df;
	margin: 10px;
}

.elim:hover{
	width: auto;
	height: auto;
	padding: 3px;
	display: block;
	text-decoration: none;
	float: right;
	color: white;
	background: #7ed6df;
	border: 1px solid white;
	margin: 10px;
}



@media screen and (min-width: 780px) and (max-width: 1024px){
	.form-publicacion{
		width: 50%;
	}
}

@media screen and (min-width: 480px) and (max-width: 780px){
	.form-publicacion{
		width: 80%;
	}
}

@media screen and (max-width: 480px){
	.form-publicacion{
		width: 100%;
	}
}


