*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/* Esto es lo que esta arriba del menu de opciones */
.header {
	background : #566573;
	padding : 0px;
	font-size: 50px;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	box-shadow: 5px 5px 30px #83898F;
	color: white;
}

.img{
	margin: 0px 10px;
	width:auto; 
	max-height:350px;
	display: inline-block;
}



.body{
	background: #E5EDF5;
	width: 100%;
	border: 1px solid black;
	margin: auto;
}

.seccion{
	width: 80%;
	margin: auto;
	padding: 10px;
}

.footer{
	height: 70px;
	padding: 20px;
	text-align: center;
}

.recuadro{
	height: 100px;
	padding: 15px;
}

/*Titulos*/
.titulo{
	margin: auto;
	padding: 7px;
	text-align: center;
}






